{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaire</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ commentaire.utilisateur }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ commentaire.commentaires }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentaire_index') }}">Back to the list</a>
        </li>

        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
